<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css"/>
</head>
<body>

    <header>
        <div class="header-container">
            <div class="top-header">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo-mercado-liebre.svg">
                    </a>
                </div>
    
                <div class="search-bar">
                    <form action="/search" method="GET" class="search-form">
                        <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-input" >
                        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
    
                <div class="cuotas">
                    <a href="#" class="cuotas-icon">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </a>
            </div>
        </div>
    
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        

        <section class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario" class="user-data">
                <input type="password" name="pass" placeholder="Elegí tu contraseña" class="user-data">
                <input type="submit" class="btn-send" value="Enviar">
            </form>
        </section>

    </main>
    <footer class = "main-footer">
        <div class = "row-footer">
        <article class="footer-info">
            <i class="fas fa-credit-card"></i>
            <h2>Paga con tarjeta o efectivo</h2>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago.<br>¡Y siempre es seguro!
            </p>
        </article>

        <article class="footer-info">
            <i class="fas fa-gift"></i>
            <h2>Envio gratis desde $ 1.999</h2>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos.<br>Es un beneficio de MercadoPuntos.
            </p>
        </article>
        
        <article class="footer-info">
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.
            </p>
        </article> 
    </div>
    </footer>

<div>
    <p class="copy-right">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</div>

</body>
</html>